<div class="page-header">
  <h1>Edit <%= resource_name.to_s.humanize %></h1>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field"><%= f.label :first_name %>
  <div class="fieldbox"><%= f.text_field :first_name %></div></div>

  <div class="field"><%= f.label :last_name %>
  <div class="fieldbox"><%= f.text_field :last_name %></div></div>

  <div class="field"><%= f.label :email %>
  <div class="fieldbox"><%= f.email_field :email, :autofocus => true %></div></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field"><%= f.label :password %><div class="hint"> <i>(leave blank if you don't want to change it)</i></div>
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div class="field"><%= f.label :password_confirmation %>
  <div class="fieldbox"><%= f.password_field :password_confirmation %></div></div>

  <div class="field"><%= f.label :current_password %> <div class="hint"><i>(we need your current password to confirm your changes)</i></div>
  <%= f.password_field :current_password %></div>

  <div>
    <div><%= f.submit "Update", class: "btn" %></div>
  </div>

<% end %>

<div class="cancel"><strong>Unhappy?</strong> Click <%= link_to "here", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %> to cancel.</div>
<div style="padding-top:20px;"><%= link_to "Back", :back %></div>


