<div class="page-header">
	<h1>Playlists</h1>
	<%= button_to "Create New Playlist", new_playlist_path, method: :get, class: 'btn' %>
</div>

<% @playlists.each do |playlist| %>
<div class="playlist">
	<div class="title">
		<div class="votes">
			<li> <%= link_to raw('<i class="icon-thumbs-up"></i>'), playlist, class: "vote-link", data: { type: "up"} %> </li>
			<li> <%= link_to raw('<i class="icon-thumbs-down"></i>'), playlist, class: "vote-link", data: { type: "down" }%> </li>
		</div>
		<strong><%= link_to playlist.title, playlist %> </strong>
		<% if user_signed_in? %>
			<% if current_user.full_name == playlist.user.full_name %>
			<span class="trash">
				<%= link_to raw('<i class="icon-trash"></i>'), playlist, method: :delete, data: { confirm: 'Are you sure?'} %> 
			</span>
			<% end %>
		<% end %>
	</div>
	<p id="timeago">Submitted <%= time_ago_in_words(playlist.created_at) + " ago" %> </p>

	<hr>
</div>
<% end %>

