<div class="page-header">
	<h1>Playlists</h1>
	<p>
		<button class="btn" type="button"><i class="icon-plus"></i>     
		<%= link_to "Create New Playlist", new_playlist_path %></button>
	<p>
</div>

<% @playlists.each do |playlist| %>
<div class="playlist">
	<div class="title">
		<div class="votes">
			<li> <%= link_to raw('<i class="icon-thumbs-up"></i>'), playlists_path %> </li>
			<li> <%= link_to raw('<i class="icon-thumbs-down"></i>'), playlists_path %> </li>
		</div>
		<strong><%= link_to playlist.title, playlist %> </strong>
		<span class="trash">
			<%= link_to raw('<i class="icon-trash"></i>'), playlist, method: :delete, data: { confirm: 'Are you sure?'} %> 
		</span>
	</div>
	<p id="timeago">Submitted <%= time_ago_in_words(playlist.created_at) + " ago" %> </p>

	<hr>
</div>
<% end %>

