<div class="page-header">
	<h1>Create New Playlist</h1>
</div>

<%= form_for @playlist do |f| %>
	<div class="errormsg">
		<% if @playlist.errors.any? %>
			<h3>Errors:</h3>
			<ul>
				<% @playlist.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>
	</div>	

	<div class="new_playlist">
		<div class="field"><%= f.label :title %>
		<div class="fieldbox"><%= f.text_field :title %></div></div>

		<div class="field"><%= f.label :link %>
		<div class="fieldbox"><%= f.text_field :link %></div></div>

		<div><%= f.submit "Create", class: "btn" %></div>
	</div>
	
<% end %>


