<h1><%= @playlist.title %></h1>
<p><%= @playlist.link.html_safe %></p>
<p>Created <%= @playlist.created_at.strftime("%m/%d/%Y") %></p>
<p>Author: <%= @playlist.user.full_name %></p>

<% if @comments.any? %>
	<h2>Comments</h2>
<% end %>
<% @comments.each do |comment| %>
	<% if comment.playlist_id == @playlist.id %>
		<h4><%= User.find(comment.user_id).full_name %></h4>
		<p><%= comment.created_at.strftime("%m/%d/%Y %l:%M %p %Z") %></p>
		<p><%= comment.content %></p>
		<hr>
	<% end %>
<% end %>

<%= link_to "Back", playlists_path %><br>
<%= link_to "Add Comment", new_playlist_comment_path(@playlist) %>